APP_AI_TOKENIZER_API_KEY=
APP_AI_API_KEY=
APP_TOTP_MASTER_KEY=
spring.elasticsearch.uris=
APP_ES_API_KEY=
APP_MAIL_HOST=
APP_MAIL_PORT=
APP_MAIL_INBOX_HOST=
APP_MAIL_INBOX_PORT=
APP_MAIL_FROM=
APP_MAIL_USERNAME=
APP_MAIL_PASSWORD=
ADMIN_EMAIL=
ADMIN_USERNAME=
ADMIN_PASSWORD=
