/* 文本框样式调整 */
.input-field {
    transition: border-color .3s, box-shadow .3s;
    border: 2px solid #ddd; /* 边框初始化颜色较轻 */
    border-radius: 8px; /* 增加圆角 */
}

.input-field:focus {
    outline: none;
    border-color: #4A90E2; /* 聚焦时边框颜色 */
    box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.3); /* 聚焦时添加轻微阴影 */
}

/* 密码忘记链接悬停效果 */
.password-reset:hover {
    text-decoration: underline; /* 添加下划线 */
    color: #2a659e; /* 链接颜色变深 */
}
/* 调整 #app 盒子的样式 */
#app {
    border-radius: 20px; /* 增加圆角 */
    overflow: hidden; /* 保证子元素不超出圆角边界 */

}

/* 修改和优化样式 */
.text-shadow {
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.9); /* 添加文本阴影以增强对比度和可读性 */
    color: #ffffff;
}

@media (max-width: 768px) { /* 为小屏幕调整样式 */
    .w-full.max-w-4xl.mx-auto.flex.justify-between {
        flex-direction: column;
        align-items: center;
    }

    .promo-text, #app {
        width: 90%; /* 小屏幕宽度调整 */
    }

    .promo-text {
        order: 2; /* 小屏幕上宣传语放在下方 */
        margin-right: 0;
        margin-top: 20px; /* 调整间距 */

    }

    #app {
        order: 1; /* 小屏幕上登录框放在上方 */
    }
}
